<div layout="column" layout-fill >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings"  ng-click="jt.onMenu()">
                <i class="fa fa-align-justify fa-lg"></i>
            </md-button>
            <span flex=""></span>

            <h2>
                <span>Js Tutorial </span>
            </h2>

            
            <span flex=""></span>

            <md-button class="md-icon-button" aria-label="sandboxOff" ng-show='!jt.sandboxOn' ng-click='jt.onSandbox(true)'>
                <span class="fa-stack fa">
                    <i class="fa fa-archive fa-stack-1x"></i>
                    <i class="fa fa-ban fa-stack-2x" ng-style="{color: 'red'}"></i>
                </span>
            </md-button>
            <md-button class="md-icon-button" aria-label="sandboxOn" ng-show='jt.sandboxOn' ng-click='jt.onSandbox(false)' >
                <i class="fa fa-archive fa-lg"></i>
            </md-button>

            <md-button class="md-icon-button" aria-label="Previous" ng-click='jt.onPrevious()'>
                <i class="fa fa-chevron-left fa-lg"></i>
            </md-button>
            <span> {{jt.currentSlide+1}} / {{jt.numSlides}}</span>
            <md-button class="md-icon-button" aria-label="Next" ng-click='jt.onNext()'>
                <i class="fa fa-chevron-right fa-lg"></i>
            </md-button>
            
            <md-button class="md-icon-button" aria-label="Run"  ng-click="jt.onRun()">
                <i class="fa fa-play fa-lg"></i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Clear"  ng-click="jt.onClear()">
                <i class="fa fa-eraser fa-lg"></i>
            </md-button>
            
        </div>
    </md-toolbar>
    <md-content flex>
        <div ui-layout="{flow : 'column'}">
            <div ui-layout-container>
                <rw-markdown-panel api='jt.markdownPanel'/>
            </div>
            <div ui-layout-container>
                <div ui-layout="{flow : 'row'}">
                    <div ui-layout-container size="80%">
                        <rw-js-console-panel  api='jt.jsConsolePanel' />
                    </div>
                    <div ui-layout-container collapsed="'true'">
                        <rw-output-panel  api='jt.outputPanel' />
                    </div>
                </div>
            </div>
        </div>
    </md-content>
    <ui-view/>
</div>
